H1 {
font-size: 200px;
    color: purple;
    font-family: 'Allerta Stencil', sans-serif;
    margin-top: 0;
    margin-top: 10;
}

H2 {
    font-size: 70px;
    color: ghostwhite;
font-family: 'Spicy Rice', cursive;
    margin-top: 0;

}

body {
    font-size: 40px;
    color: black;
    font-family: 'Kumar One Outline', cursive;
    background-image: repeating-radial-gradient(red, yellow 10%, green 15%);
    margin-top: 0;

}
